

.page {
    display: flex;
    background-image: url('../../src/images/MB_background.jpg');
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../../src/images/MB_background.jpg');
    min-height: 80vh;
}

.card#services {
    padding-bottom: 10vh;
}

.auth {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../../src/images/MB_background.jpg');
    min-height: calc(100vh - 66px);
}

@media screen and (max-width: 768px) {
    .card {
        padding: 0;
    }

    .card#services {
        margin-top: 20vh;
    }
}

.servicesCard {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../../src/images/MB_background_alt.jpg');
    padding-top: 30vh;
}

.bookingsCard {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../../src/images/MB_background_alt.jpg');
    padding-top: 200px;
}

@media screen and (max-width: 768px) {
    .servicesCard {
        padding: 0;
    }
}

a {
    color: #0e748d;
    text-decoration: none;
    align-self: center;
}

input, textarea {
    padding: 5px 5px;
    margin: 0.6em 0;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    line-height: 2em;
    resize: none;
    font: 400 13.3333px Arial;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
}

#footer {
    margin-top: auto;
    text-align: center;
    display: flow-root;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 2vh 5vw;
    background-color: rgba(255,255,255,1);
}

.authBox {
    display: flow-root;
    width: fit-content;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
    padding: 5vh 5vw;
    background-color: rgba(255,255,255,1);
    text-align: center;
    margin: auto;
    min-height: 460px;
    z-index: 10;
}

.authBox .logo {
    height: 8rem;
    width: auto;
    transition: all 0.2s ease-in-out;
}

.authBox .logo:hover {
    transform: scale(1.1);
}

.schedulerHeader {
    display: inline-flex;
    margin-bottom: 2em;
    margin-right: auto;
}

.schedulerHeader h1 {
    margin: auto 20px 0;
}

.headerBanner {
    display: grid;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    grid-template-areas: "header logo"
                         "date logo";
    grid-template-columns: 1fr 100px;
    background-color: #0f4856;
    padding: 10px;
    color: #fff;
}

.headerBanner h2 {
    margin: auto 10px;
    grid-area: header;
}

.appointmentsWrapper h5 {
    grid-area: date;
    margin: auto 10px;
}

.headerBanner img {
    grid-area: logo;
    width: 75%;
    margin: auto;
    opacity: 80%;
}

.infoBox input, .infoBox textarea {
    min-width: 400px;
}

#login, #register {
    margin: 100px auto 20px;
    min-height: unset;
}

.appointmentsWrapper {
    padding: 0;
    margin: 10px;
    border-radius: 10px;
}

.appointmentsWrapper h4 {
    padding: 0 10px;
}

.appointmentSection {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.appointmentWrapper {
    padding: 20px;
    margin: 0 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 10px 10px;
}

.services {
    display: flex;
    justify-content: space-evenly;
}

.servicesWrapper {
    display: flow-root;
    max-width: 1000px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
    padding: 5vh 10vw;
    background-color: rgba(255,255,255,1);
    text-align: left;
    margin: 0 auto 2em;
}

.bookingsWrapper {
    display: flow-root;
    max-width: 1000px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.8);
    padding: 5vh 10vw;
    background-color: rgba(255,255,255,1);
    text-align: left;
    margin: 0 auto 2em;
}

hr {
    margin: 10px;
    border-radius: 50%;
    border-top: 1px solid rgba(0,0,0,0.15);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.vr {
    width: 0px;
    margin: 3px;
    border-radius: 50%;
    border-left: 1px solid rgba(0,0,0,0.15);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.servicesBox {
    display: grid;
    align-content: center;
}

.apptButtons {
    display: grid;
}

.DayPicker {
    margin: 2em 1em;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
}

.landingWrapper {
    display: flex;
}

.landingBanner {
    background-image: url('../../src/images/pohutukawa\ coast.jpg');
    background-attachment: fixed;
    width: 100%;
    margin-bottom: 18vh;
    background-size: cover;
}

.landingText {
    min-height: 45vh;
    z-index: 10;
    padding-top: 140px;
    padding-right: 20px;
    padding-left: 5vw;
    margin: 0px;
    margin-bottom: 20vh;
    width: 800px;
    background: transparent;
}

.pageWrapper {
    display: flex;
}

.pageBanner {
    background-image: url('../../src/images/pohutukawa\ coast.jpg');
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
}

.pageText {
    height: 40vh;
    z-index: 2;
    padding-top: 140px;
    padding-right: 20px;
    padding-left: 5vw;
    margin: 0px;
    width: 800px;
    background-color: white;
}

.servicesBox img {
    height: 2em;
}

.servicesBox .btn-primary {
    display: flex;
    font-size: 1.3em;
}

.servicesBox .btn-primary p {
    margin: auto;
}
.servicesBtnWrapper .btn-primary, .servicesBtnWrapper .btn-secondary {
    margin: 10px;
    text-align: center;
    justify-content: center;
}

.btn-primary.landing, .btn-secondary.landing {
    padding: 0.6em 1.2em;
    margin: 6px;
}

@media screen and (max-width: 768px) {
    .landingBanner {
        display: none;
    }

    .servicesBox .btn-primary {
        display: flex;
        font-size: 0.8em;
        margin: auto;
        width: 100%;
    }

    .servicesBox .btn-secondary {
        display: flex;
        font-size: 0.7em;
        margin: auto;
        width: 100%;
        margin-top: 10px;
    }

    .servicesBtnWrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

#appointment {
    background-image: unset;
}


#rd1, #rd2 {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.row {
    display: flex;
}
.row .col {
    flex: 1;
}
.row .col:last-child {
    margin-left: 1em;
}

.tabs {
    display: grid;
    gap: 5vw;
    grid-template-columns: 1fr 0px 1fr;
}
.tabs hr {
    display: none;
}
  
@media (max-width:767px) {
    .tabs {
        grid-template-columns: 1fr;        
    }
    .tabs .vr {
        display: none;     
    }
    .tabs hr {
        display: initial;     
    }
}

.tab {
    max-width: 500px;
}

/* Accordion styles */
/* .tabs {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}
.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #0e748d;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.35s linear;

}
.tab-label:hover {
    background: #0f4856;
}
.tab-label::after {
    content: "â¯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s linear;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: black;
    transition: all 0.3s linear;
}
.tab-content p {
    max-width: 600px;
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #0e748d;
    cursor: pointer;
}
.tab-close:hover {
    background: #0f4856;
}

input:checked + .tab-label {
    background: #0f4856;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    transition-delay: 300ms;
} */
.servicesBtnWrapper {
    display: grid;
}

.confirmationSection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: right;
    gap: 10px 20px;
    margin-bottom: 20px;
}

.footer-clean {
    padding:50px 10px;
    background-color: #1f687a;
    color: #ffffff;
    width: 100%;
}
  
.footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
  
.footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-clean .social a {
    color: #36ff4e;
}

.footer-clean .social img {
    width: 100px;
}
  
.footer-clean ul a {
    text-decoration:none;
    opacity:0.8;
    color: inherit;
}
  
.footer-clean ul a:hover {
    opacity:1;
}
  
.footer-clean .item.social {
    text-align:right;
}
  
@media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
}
  
@media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
}
  
.footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:5px;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    opacity:0.75;
}
  
.footer-clean .item.social > a:hover {
    opacity:0.9;
}
  
@media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
}
  
.footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
}

.footer-clean .row {
    margin: auto;
    display: grid;
    grid-template-areas:    "Contact Services About Logos";
    gap: 20px;
    max-width: 1000px;
}
  
@media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }

    .footer-clean .row {
        grid-template-areas:    "Contact About"
                                "Services Logo";
    }
}